<template>
  <form @submit.prevent="submitForm" method="post" enctype="multipart/form-data"
        class="bg-white rounded px-8 pt-6 pb-8 mb-4 w-1/2 flex flex-col my-2">
    <div class=" flex flex-col items-center mb-6">
      <div class="w-full px-3 mb-6 md:mb-0">
        <label class=" required block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
               for="title">
          Название
        </label>
        <input
            class=" appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3"
            id="title"
            type="text"
            maxlength="255"
            v-model="form.title"
        >
      </div>

      <div class="w-full px-3 mt-4">
        <label class="required block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
               for="genres">
          Жанры
        </label>
        <select
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            id="genres"
            type="text"
            v-model="form.genres"
            multiple
        >
          <option v-for="(genre, index) in genres?.data" :key="index" :value="form.genres">{{ genre.name }}</option>
        </select>
      </div>

      <div class="w-full px-3 mt-4">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
               for="description">
          Описание
        </label>
        <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            id="description"
            type="text"
            maxlength="120"
            v-model="form.description"
        >
      </div>

      <div class="w-full px-3 mt-4">
        <label class="required block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
               for="count">
          Количество композиций
        </label>
        <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            id="count"
            type="text"
            v-model="form.count"
        >
      </div>

      <div class="w-full px-3 mt-4">
        <em v-if="formError" class="text-sm text-red-500">Fill in all required fields</em>
      </div>

      <div class="mt-4 w-full flex justify-center">
        <button type="submit" class="bg-gray-700 py-2 w-1/3 rounded-full text-white mr-1">Save</button>
        <Link :href="route('dashboard')"
              class="bg-gray-300 py-2 w-1/3 rounded-full text-center text-gray-700">Cancel
        </Link>
        <button onclick="exportPDF()" class="bg-gray-300 py-2 w-1/3 rounded-full text-center text-gray-700">
          Export
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import {Link, router, useForm} from "@inertiajs/vue3";
import {ref} from "vue";

export default {
  name: "AlbumForm",
  components: {Link},
  props: ['genres', 'album'],

  setup(props) {
    const form = useForm({
      title: props.album?.title,
      description: props.album?.description,
      count: props.album?.count,
      genres: props.album?.genres,
    });

    let formError = ref(false);


    const submitForm = () => {
      if (props?.album?.hasOwnProperty('id')) {
        router.post(route('albums.update', props.album.id), {
          ...form.data()
          , _method: 'put'
        });
        return;
      }

      form.post(route('albums.store'), {
        onError: error => {
          formError.value = true
        }
      });
    }

    const exportPDF = () => {
      if (props?.album?.hasOwnProperty('id')) {
        router.post(route('albums.generate-pdf', props.album.id), {
          ...form.data()
          , _method: 'post'
        });
      }
    }

    return {form, formError, submitForm, exportPDF};
  }
}
</script>

<style scoped>

</style>
