<template>
    <form @submit.prevent="submitForm" method="post" enctype="multipart/form-data"
          class="bg-white rounded px-8 pt-6 pb-8 mb-4 w-1/2 flex flex-col my-2">

        <div class=" flex flex-col items-center mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                <label class="required block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                       for="name">
                    Название
                </label>
                <input
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3"
                    id="name"
                    type="text"
                    maxlength="255"
                    v-model="form.name"
                >
            </div>
            <div class="w-full px-3 mt-4">
                <label class="required block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                       for="description">
                    Описание
                </label>
                <input
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                    id="description"
                    type="text"
                    v-model="form.description"
                >
            </div>

            <div class="w-full px-3 mt-4">
                <em v-if="formError" class="text-sm text-red-500">Fill in all required fields</em>
            </div>

            <div class="mt-4 w-full flex justify-center">
                <button type="submit" class="bg-gray-700 py-2 w-1/3 rounded-full text-white mr-1">Save</button>
                <Link :href="route('dashboard')"
                      class="bg-gray-300 py-2 w-1/3 rounded-full text-center text-gray-700">Cancel
                </Link>
            </div>
        </div>
    </form>
</template>

<script>
import {Link, router, useForm} from "@inertiajs/vue3";
import {ref} from "vue";

export default {
    name: "GenreForm",
    components: {Link},
    props: ['genre'],

    setup(props) {
        const form = useForm({
            name: props.genre?.name,
            description: props.genre?.description,
        });

        let formError = ref(false)

      const submitForm = () => {
        if (props?.genre?.hasOwnProperty('id')) {
          router.post(route('genres.update', props.genre.id), {
            ...form.data()
            , _method: 'put'
          });
          return;
        }

        form.post(route('genres.store'), {
          onError: error => {
            formError.value = true
          }
        });
      }

        return {form, formError, submitForm};
    }
}
</script>

<style scoped>

</style>
