<template>
    <Head title="Create New Genre" />

    <AuthenticatedLayout>

        <div class="py-12">
            <div class="flex flex-col items-center max-w-full">
                <div class="w-1/2 bg-gray-700 text-center py-2 rounded-full">
                    <h3 class="text-white font-bold">Создание нового жанра</h3>
                </div>

                <GenreForm></GenreForm>
            </div>
        </div>


    </AuthenticatedLayout>
</template>

<script>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import GenreForm from "@/Pages/Partials/GenreForm.vue";


export default {
    name: 'CreateGenre',
    components: {GenreForm, AuthenticatedLayout, Head, Link},
}

</script>

